/* commoon styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

main {
    padding: 5% 10%;
}

section {
    margin-top: 5%;
}

.color-primary {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}

.center-text {
    text-align: center;
}

/* nav section  */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.banner-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.banner-logo>h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

ul {
    display: flex;

}

ul li {
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 50px;
}

.nav-social {
    width: 262px;
    height: 56px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

ul .yt-icon {
    color: red;
    margin-left: 5px;
}

ul .tiktok-icon {
    color: #000000;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.banner-info>h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-info>h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.play-and-dwowload-icon {
    color: #F948B2;
}

.banner-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border: 0       ;
    gap: 10px;
    border-radius: 48px;
    background:  #F948B2;
    margin-top: 30px;
    margin-right: 20px;
    color: #fff;
}
.btn-signin{
    background-color: #4EC5F7;
}
.banner-immage img {
    width: 100%;
}

/* video section  */


.center-text>h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.funny-videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    gap: 2rem;
}

.funny-video img {
    width: 100%;
}

/* instant play section  */
.instant-play-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.instant-play-info {
    margin: auto;
}

.text-position {
    text-align: right;
    width: 50%;
    height: auto;
}

.text-position>h3 {
    font-size: 3rem;
    font-weight: 700;
}

.instant-play-image img {
    width: 100%;
}

.my-talking {
    position: relative;
    bottom: 400px;
    right: 200px;
    width: 400px;
    height: 450px;
}

/* button  games  section  */
.games-button-container {
   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap:10px;
}
.btn-primary {

    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: #fff;
    border: 0;
    border-radius: 48px;
    margin-top: 50px;
}

.btn-image img {
    width: 80%;
    padding: 10%;
}

.btn-primary>p {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}
/* mobile responsive  */
@media screen and (max-width:576px) {

    nav,
    ul,
    .banner {
        flex-direction: column;
    }

    ul li {
        padding: 15px 0;
        text-align: center;
    }

    .section-description {
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-info>h1 {
        font-size: 4rem;
        text-align: center;
    }

    .banner-info>h2 {
        font-size: 2rem;
        text-align: center;
    }

    .funny-videos,
    .instant-play-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .games-button-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .text-position {
        text-align: center;
        width: 100%;
        margin: 50px auto;

    }

    .text-position h3 {
        font-size: 2.8rem;
    }
    .btn-primary>p{
        font-size: .5rem;
    }

}